body {
    padding: 0;
    margin: 0;
}

.backgroundCenter {
    width: 100vw;
    height: 100vh;
    background-color: #c4dafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catdWeather {
    width: 414px;
    height: 151px;
    background-color: #005187;
    background: linear-gradient(#005187, #84b6fa);
    border-radius: 10px;
}

.bigSun {
    left: 260px;
    position: relative;
}

.sun {
    position:relative;
    left: -170px;
}
.btnBuscar {
    background-color: #fcffff;
    border-radius: 4px;
}
.searchCity{
    background-color: #fcffff;
    border-radius: 4px;
}